StateMachines/GrantMachine.json
{
  "Comment": "CloudKeeper Access Manager - Grant State Machine",
  "StartAt": "Grant Request",
  "States": {
    "Grant Request": {
      "Next": "Grant Error?",
      "Catch": [
        {
          "Next": "Grant Error?",
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.granterror"
        }
      ],
      "Parameters": {
        "FunctionName.$": "$.fn_grantfunction_arn",
        "Payload.$": "$"
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6
        }
      ],
      "ResultPath": "$.grantoutput",
      "Type": "Task"
    },
    "Grant Error?": {
      "Choices": [
        {
          "IsPresent": true,
          "Next": "Handle Error",
          "Variable": "$.granterror"
        }
      ],
      "Default": "Choice",
      "Type": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$$.Execution.Input.duration",
          "StringEqualsPath": "$$.Execution.Input.permanentDuration",
          "Next": "Pass"
        }
      ],
      "Default": "Wait"
    },
    "Wait": {
      "SecondsPath": "$.duration",
      "Type": "Wait",
      "Next": "Revoke Permission"
    },
    "Revoke Permission": {
      "End": true,
      "Parameters": {
        "Input.$": "$",
        "StateMachineArn.$": "$.revoke_sm"
      },
      "Resource": "arn:aws:states:::states:startExecution",
      "Type": "Task"
    },
    "Handle Error": {
      "Parameters": {
        "FunctionName.$": "$.fn_errorhandle_arn",
        "Payload.$": "$$.Execution.Input"
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.lastTaskResult",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6
        }
      ],
      "Type": "Task",
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    }
  }
}